/* ==========================================
    FONTS
    Thanks to Igino Marini (https://iginomarini.com/fell/) for the Fell typefaces.
   ========================================== */
   
@font-face {
    font-family: 'IM Fell English';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/im-fell-english-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'IM Fell English';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/im-fell-english-italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==========================================
    MAIN STYLES
   ========================================== */
   
/* Global stuff and layouts */

html {   
    font-family: 'IM Fell English', serif;
    font-size: 18px;
    background: #fff;
    color: #343434;
}
header, main, footer {
    margin: 40px auto;
    padding: 10px 20px;
    width: calc(100% - 40px);
    max-width: 640px;   
    overflow: hidden;
}

/* Site Header */

.site-title {
    font-size: 1.2em;
    margin: 20px 0 5px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
}
.site-title a {
    color: inherit !important;
    text-decoration: inherit;   
}
.site-description {
    margin: 0;
    font-style: italic;   
    text-align: center;
}

/* Site Footer */

footer {
    font-size: 16px; 
} 
footer p {
    padding: 0;   
    margin: 5px 0;
}

/* Text */

h1 {
    font-size: 1.4em;
    margin: 20px 0 0 0;
}
a {
    text-decoration: none;   
}
a:hover {
    text-decoration: underline;   
}
a, a:hover, a:visited {
    color: #e42509;
}
ul {
    padding-left: 25px;
}
ul li {
    line-height: 1.4em;
}

/* Image Alignment */

img.left-align {
    float: left;
    display: inline-block;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}  
img.right-align {
    float: right;
    display: inline-block;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0;
}
img.mid-align {
    float: none;
    display: block;
    padding: 15px;
    margin: 0 auto;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    html {
        background: #1a1a1a;
        color: #efefef;   
    }
    a, a:hover, a:visited {
        color: #ff2907;
    }
}    

/* Tiny screens */

@media screen and (max-width: 400px) {
    .left, .right, img {
        display: block;
        float: none;
        overflow: hidden;
        margin: 0 auto;  
        padding: 15px 0;
        width: 100%;
        height: auto;
    }
}

/* Something special for the 404 page */

#ghost-404 {
    height: 250px;
    width: 100%;
    display: block;
    background: #343434 url("../images/ghost.gif") no-repeat center;
    background-size: contain;
    animation: run 20s;
    animation-delay: 0.5s;
    margin: 10px auto;
    border-bottom: 50px solid #343434;
}