/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Some fun */
@import url('./assets/ghost.css');

:root {
    --theme-background: #fff;
    --theme-text: rgb(19,1,1);
    --theme-link: rgb(213, 60, 60);
    --theme-link-contrast: #fff;
    --theme-highlight: #ccc;
    --theme-ultralight: #efefef;
    --theme-red: rgb(213, 60, 60);
    --theme-green: rgb(11, 121, 17);
    --theme-blue: rgb(42, 58, 138);
    --theme-amber: rgb(169, 131, 7);
    --theme-contrast: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --theme-background: rgb(19,1,1);
        --theme-text: rgb(250, 245, 232);
        --theme-link: rgb(213, 60, 60);
        --theme-link-contrast: #fff;
        --theme-highlight: #444;
        --theme-ultralight: #222;
    }
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--theme-text);
    background: var(--theme-background);
    font-family: "IM Fell English", serif;
    font-size: 18px;
}
pre, code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.7em;
}
pre {
    overflow-x: scroll;
    padding: 10px;
    border: 1px solid var(--theme-ultralight);
    line-height: 1.5em;
}
.contain {
    margin: 0 auto;
    max-width: 760px;
    padding: 0 30px;
}
#site_header {
    overflow: hidden;
    padding: 50px;
    text-align: center;
}
#site_header  a {
    color: inherit;
    text-decoration: none;
}
#site_header  #site_title {
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 3px;
}
#site_header  #site_description {
    margin: 15px 0;
    text-align: center;
    font-style: italic;
}
main {
    display: block;
    overflow: hidden;
    font-size: 1em;
    line-height: 1.6em;
}
main header > h1,
aside header > h1,
header.index_section_header > h1 {
    text-align: center;
    font-size: 2em;
    margin: .5em 0;
    line-height: 1.1em;
}
aside {
    margin-top: 60px;
}
nav {
    text-align: right;
    padding: 20px 0;
    font-size: 0.9em;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul > li {
    padding: 0;
    margin: 0;
    display: inline-block;
}
nav ul > li > a {
    padding: 4px 8px;
    color: var(--theme-text);
    margin-bottom: 1px;
    text-decoration: none;
}
nav ul > li > a:hover {
    color: var(--link-text);
    margin-bottom: 0px;
    color: var(--theme-link);
    border-bottom: 2px solid var(--theme-link);
    text-decoration: none;
}
nav ul > li > a:visited {
    color: var(--link-text);
    text-decoration: none;
}
article a,
a.link,
aside a {
    color: var(--theme-link);
    text-decoration: none;
    margin-bottom: -1px;
}
article a:hover,
a.link:hover,
aside a:hover {
    color: var(--theme-link);
    text-decoration: none;
    margin-bottom: 0px;
    border-bottom: 2px dotted var(--theme-link);
}
#post_content > hr {
    border: 0px;
    margin: 0px;
    overflow: hidden;
    line-height: 1em;
}
#post_content > hr:before {
    border: 0px;
    height: 1em;
    display: block;
    content: '\2767\00A0\00A0\00A0\2767\00A0\00A0\00A0\2767';
    text-align: center;
}
ul.post_list {
    list-style-type: none;
    margin: 0;
    padding: 16px 0;
}
ul.post_list li {
    display: block;
}
ul.post_list li a {
    margin: 16px 0  0;
    overflow: visible;
    line-height: 1.4em;
    color: var(--theme-text) !important;
    border-bottom: 1px dotted var(--theme-highlight);
    text-decoration: none;
    display: block;
    padding-right: 150px;
}
ul.post_list li a:hover {
    color: var(--theme-link) !important;
}
.post_list_meta {
    float: right; 
    display: inline;
    font-style: italic;
    color: var(--theme-text);
    margin-right: -150px;
}
footer {
    overflow: hidden;
    padding: 50px;
    font-size: 0.8em;
    text-align: center;
}
.metadata {
    font-style: italic;
    color: var(--theme-text);
    text-align: center;
}
sup { 
    vertical-align: top; 
    font-size: 1em; 
    position: relative; 
    top: -0.3em; 
}
sup > a {
    overflow: hidden;
    display: inline-block;
    line-height: 1em;
}
sup > a:hover {
    overflow: hidden;
    display: inline-block;
    line-height: 1em;
    margin-bottom: -1px !important;
    border-bottom: 0px !important;
}
.footnote {
    font-size: 0.8em;
}
.footnote > hr {
    border-top: 1px solid var(--theme-highlight);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
#social-links {
    margin-top: 10px;
    font-size: 1.2em;
}
#social-links a,
#social-links a:visited {
    color: inherit;
    text-decoration: none;
}
#social-links a:hover {
    color: var(--theme-link);
}
.social-link-a {
    padding: 7px;   
}
.sr-only, .screenreader {
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}
blockquote {
    font-style: italic;
    line-height: 1em;
}
#post_tags > ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: var(--theme-text);
}
#post_tags > ul > li {
    margin: 0;
    padding: 0;
    display: inline;
}
#post_tags > ul > li:after {
    content: ', ';
}
#post_tags > ul > li:last-child:after {
    content: '';
}
h1, h2, h3 {
    font-weight: 400;
}
h2, h3 {
    margin: 1em 0 0 0;
}
h2 {
    font-size: 1.5em;
}
h2.archive-header {
    text-align: center;
}
h3 {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.075em;
}
article li > p {
    margin: 0;
    padding: 0;
}
article ul {
    margin: 0.5em 0;
}
.message {
    display: block;
    padding: 5px 20px;
    background: var(--theme-ultralight);
    color: var(--theme-text);
}
.message-red {
    display: block;
    padding: 5px 20px;
    background: var(--theme-red);
    color: var(--theme-contrast);
}
.message-green {
    display: block;
    padding: 5px 20px;
    background: var(--theme-green);
    color: var(--theme-contrast);
}
.message-blue {
    display: block;
    padding: 5px 20px;
    background: var(--theme-blue);
    color: var(--theme-contrast);
}
.message-amber {
    display: block;
    padding: 5px 20px;
    background: var(--theme-amber);
    color: var(--theme-contrast);
}
ul#index-blog-nav {
    margin: 1.5em 0 0 0;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul#index-blog-nav > li {
    display: inline-block;
    padding: 3px 12px;
}
table {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1.5em;
}
th {
    text-align: left;
    background: var(--theme-ultralight);
    padding: 3px 6px;
}
td {
    text-align: left;
    border-bottom: 1px solid var(--theme-ultralight);
    padding: 3px 6px;
}
.contain img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
label {
    display: block;
    font-weight: bold;
    margin: 1em 0;
}
input,
textarea {
    display: block;
    border: 1px solid var(--theme-highlight);
    padding: 8px;
}
textarea {
    width: calc( 100% - 18px );
}
input {
    width: 300px;
    max-width: calc( 100% - 18px );
}
form {
    display: block;
    padding: 20px 30px;
    background: var(--theme-ultralight);
    color: var(--theme-text);
}
button {
    background: var(--theme-link);
    border: 0px;
    padding: 8px 16px;
    font-size: .9em;
    font-family: inherit;
    color: var(--theme-link-contrast);
    cursor: pointer;
}
button:hover {
    background: var(--theme-link);
    padding: 10px 14px 6px 18px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

@media screen and (max-width: 760px) {
    .contain img {
        max-width: calc(100% + 60px);
        height: auto;
        margin: 0 -30px;
        }
}